@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-dark: #3b3e5e;
    --main-bright: #b69df0;
    --main-accent: #51B599;
    --main-beige: #FFE7CE;
    --main-offwhite: #eaeaea;
    --main-border: 1px solid var(--main-dark);
}


body {
    padding: 3em;
    height: 100vh;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #b1b1b1;
    color: var(--main-dark);
}

h1 {
    position: relative;
    font-size: 6vw;
    text-transform: uppercase;
    line-height: 3.5rem;
    font-weight: 300;
    font-family: 'Archivo', sans-serif;
    margin-top: 15px;
    z-index: 2;
}

h3 {
    font-size: 1.3vw;
    text-transform: none;
    margin-left: 45px;
}

h4 {
    width: 100%;
    height: 5%;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
    font-size: 1.5vw;
    background-color: var(--main-bright);
    border-bottom: var(--main-border);
    padding: 8px;
    font-family: 'Azeret Mono', monospace;
}

h5 {
    position: absolute;
    bottom: 10px;
    font-size: 2vw;
    writing-mode: vertical-rl;
    font-weight: 200;
    max-height: 20%;
    transform: rotate(180deg);
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--main-offwhite);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    transition: .5s;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.commentary-tool-wrapper {
    position: relative;
    grid-area: 1 / 1 / 9 / 4;
    border: var(--main-border);
    border-right: 0px;
}

.logo {
    transform: translateX(-90px);
}

.commentary-text {
    font-size: 2.9vw;
    border-top: var(--main-border);
    line-height: 1.5rem;
}

.tool {
    font-size: 2.9vw;
    border-top: var(--main-border);
}

.header-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .1;
    filter: grayscale();
}

.game-conditions-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.game-condition-line {
    position: relative;
    border-top: var(--main-border);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.condition-icon-wrapper {
    position: absolute;
    height: 100%;
    border-right: var(--main-border);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.condition-icon {
    height: 15px;
    opacity: .6;
}

.game-conditions {
    font-size: .7vw;
}

.random-facts-wrapper {
    position: relative;
    grid-area: 9 / 1 / 13 / 4;
    border: var(--main-border);
    border-top: 0px;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice {
    position: absolute;
    height: 45px;
    bottom: 0;
    right: 0;
    border: var(--main-border);
    border-right: 0px;
    border-bottom: 0px;
    padding: 5px;
    cursor: pointer;
    opacity: .7;
}

.random-fact {
    text-transform: none;
    letter-spacing: 2px;
    max-width: 75%;
    font-size: 1.1vw;
}

.score-wrapper {
    position: relative;
    grid-area: 1 / 4 / 5 / 8;
    border: var(--main-border);
    border-right: 0px;
    border-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 2;
    padding: 5% 7% 0% 7%;
    background-color: var(--main-offwhite);
}

.game-stats-wrapper {
    position: relative;
    grid-area: 5 / 4 / 13 / 8;
    border: var(--main-border);
    border-right: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 2;
    background-color: var(--main-offwhite);
}

.team1 {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team1 h2 {
    margin-top: 10px;
}

.score-line {
    position: absolute;
    height: 100%;
    border-right: var(--main-border);
    left: 50%;
}

.score {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 6vw;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    border-top: var(--main-border);
    height: 38%;
    z-index: 2;
}

.score1 {
    margin-right: 23%;
}

.shirt-color-1 {
    position: absolute;
    left: 0;
    --_g: #036564 35%, #0000 36%;
    background:
        radial-gradient(at 100% 100%, var(--_g)),
        radial-gradient(at 0 0, var(--_g)) #E8DDCB;
    background-size: 1.5rem 2rem;
    /* 35% = 100%/(2*sqrt(2)) */
    height: 100%;
    width: 15%;
    border-right: var(--main-border);
}

.shirt-color-2 {
    position: absolute;
    right: 0;
    --s: 20px;
    /* control the size */
    --c1: #ed7f7f;
    --c2: #ffffff;
    --c3: #d9d9d9;
    --_g: var(--c3) 0 120deg, #0000 0;
    background:
        conic-gradient(from -60deg at 50% calc(100%/3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200%/3), var(--_g)),
        conic-gradient(from 60deg at calc(200%/3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0),
        conic-gradient(from 180deg at calc(100%/3), var(--c1) 60deg, var(--_g)),
        linear-gradient(90deg, var(--c1) calc(100%/6), var(--c2) 0 50%,
            var(--c1) 0 calc(500%/6), var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
    height: 100%;
    width: 15%;
    border-left: var(--main-border);
}

.team2 {
    grid-area: 1 / 4 / 2 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-logo {
    height: 60px;
    margin-bottom: 10px;
}

table {
    text-align: center;
    font-size: 1.2vw;
    padding-top: 30px;
    white-space: nowrap;
}

thead {
    font-weight: 600;
}

.players-wrapper {
    padding: 0px;
}

.team1-players-wrapper {
    position: relative;
    grid-area: 1 / 8 / 13 / 12;
    border: var(--main-border);
    border-right: 0px;
    overflow: hidden;
}

.player-info {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
}

.player-text {
    font-size: 1.2vw;
    padding: 4px 0px;
}

.player-line {
    max-width: 100%;
    width: 100%;
}

.player-line:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.info-icon {
    height: 18px;
    margin: 8px 0px 0px 5px;
    opacity: 0;
}

.player-line:hover .info-icon {
    opacity: 1;
}

.jersey-number {
    font-weight: 700;
    margin-right: 15px;
    margin-left: 10px;
}

.dots {
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: row;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 4px;
    margin-top: 10px;
    background-color: #87cbff;
}

.dot:nth-of-type(1) {
    background-color: #2ee057;
}

.dot:nth-of-type(2) {
    background-color: #68a7ff;
}

.dot:nth-of-type(3) {
    background-color: #e3dd3e;
}

.dot:nth-of-type(4) {
    background-color: #e45e5e;
}

.line {
    border-bottom: var(--main-border);
}

.sidebar-right-wrapper {
    position: relative;
    grid-area: 1 / 12 / 13 / 13;
    border: var(--main-border);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: inset -5px -5px 9px var(--main-offwhite), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.sidebar-button-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    border-bottom: var(--main-border);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.sidebar-button:hover {
    background-color: #6e46cca5;
}

.sidebar-button:nth-of-type(1):hover {
    background-color: #f75539c3;
}

.sidebar-button:nth-of-type(3):hover {
    background-color: #f5fd56b9;
}

.sidebar-button:hover .sidebar-icons {
    opacity: 1;
}

.stats-button {
    background-color: #dcdcdc;
}

.sidebar-icons {
    height: 40px;
    opacity: .7;
}

.icon-darkmode.darkmode {
    mix-blend-mode: difference;
}

.form-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    grid-area: 1 / 8 / 13 / 12;
    border-right: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--main-offwhite);
    z-index: 1;
    transition: .3s;
    opacity: 1;
    transform: translateX(100%);
}

.show-player {
    transform: translateX(0);
}

.player-form {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 40px;
    border-bottom: var(--main-border);
}

input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #03656300;
    padding-left: 10px;
    font-size: 1em;
    color: var(--main-dark);
}

input:focus {
    outline: none;
    border: 1px solid var(--main-bright);
}

.label-form-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    border-right: var(--main-border);
    padding: 5px;
}

label {
    width: max-content;
}

input[type=number]::-webkit-inner-spin-button {
    height: 37px;
    background-color: var(--main-bright);
}

.form-questions label {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: .9em;
    padding: 5px;
    max-width: 100%;
}

.questions-label {
    border: var(--main-border);
    border-left: none;
    border-right: none;
}

#submit {
    border: none;
    color: var(--main-dark);
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    body {
        padding: 0;
    }
}